*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ccf5ff;
	font-size: 15px;
	font-family: 'Comfortaa', cursive;
}
/*CSS for content left start*/
.wrapper{
	width: 80%;
	margin: 50px auto;
}
h1{
	margin-bottom: 10px;
}
.wrapper p{
	margin-bottom: 40px;
}
.contact-box{
	background-color: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 52px 60px;
	/*border: 1px solid black;*/
}
.contact-left h3{
	color: #ffccff;
	font-weight: 600;
	margin-bottom: 30px;
}

.input-raw{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.input-raw .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
label{
	display: block;
	margin-bottom: 5px;
	color: #2069AD;
}
button{
	background-color: #2069AD;
	width: 120px;
	height: 30px;
	border: none;
	outline: none;
	color: white;
	border-radius: 30px;
	margin-top: 20px;
}

/*CSS for content left end*/
/*CSS for content right start*/
.contact-right{
	flex-basis: 40%;
	padding: 55px 40px;
	background-color: #2069AD;;
	color: white;
	/*border: 1px solid black;*/
}
.contact-right h3{
	color: white;
	font-weight: 600;
	margin-bottom: 30px;
}

tr td{
	padding-top: 20px;
}
tr td:first-child{
	padding-right: 20px;

}
